{% extends 'base.html' %}

{% block content %}

{% if object %}
  <h1>Edit <span class="teal-text">{{ object.title }}</span></h1>
{% else %}
  <h1>Add Sheet</h1>
{% endif %}

<form action="" method="POST">
  {% csrf_token %}
  <table>
    {{ form.as_table }}
  </table>
  <input type="submit" value="Submit!" class="btn">
</form>

<script>
    const keyEl = document.getElementById('id_key') 
    const diatonicEl = document.getElementById('id_diatonic') 
    M.FormSelect.init(keyEl)
    M.FormSelect.init(diatonicEl)
</script>

{% endblock %}